body{
	background-color: #e0e0d1;
	padding-bottom: 30px;
}

.wrap{
	display: inline-block;
	margin-bottom: 30px;
}

.books{
	border-radius: 8px;
	border: solid #800080 2px;
	background: #ebebe0;
	height:230px;
	margin: 10px;
	width: 40%;
	overflow-y: auto;
}

.addPost{
  	margin-left: 120px;
    width: 40%;
    height: 230px;
    border: 2px solid #800080;
    display: none;
    border-radius: 8px;
    margin-top: 10px;
    padding: 0px 15px;
    background: #ebebe0;
}

.books:nth-child(odd){
	margin-left: 120px;
}

.abstr{
	font-weight: 100;
}

h3{
	color: #800080;
}

 p{
	color: black;
}

.writenBy{
	color: #211f1f;
	font-style: oblique;
}

.name{
	    margin: 0 auto;
      display: block;
}

.wrap_form{
			text-align: center;
	    padding: 20px;
    	border: 2px solid #800080;
    	border-radius: 8px;
	  	width: 50%;
    	margin: 0 auto;
}

.wrap_form h3{
	margin-top: 0px;
}

.filter{
		text-align: center;
    padding-left: 45%;
    display: inline-block;
}

@media only screen and (max-width: 770px )
{
	.books:nth-child(odd){
  	margin-left: 10px;
		}

	.books{
		width: 90%;
	}

	.wrap_form{
		width:90%;
	}

	.addPost{
		width: 90%;
	}
}
